@charset "utf-8";

song artist {font-size: 30px; font-weight: 700;}
song title {display:block;}
song genre {display:block;}  
song year {display:block;}
song year:before {content:"Release Year: "; } 
