@charset "utf-8";

song {display:block; border-bottom: 1px solid #00FFFF;
padding : 30px 0;}
song artist {font-size: 24px; font-weight: 500;}
song title {display:block;}
song genre {display:block;}
song genre:before {content:"Genre: "; }  
song year {display:block;}
song year:before {content:"Release Year: "; } 
